section(class='flex flex-col bg-secondary px-8 pt-10 pb-10 aspect-square rounded-xl w-80')
  include ./cloud.svg
  h4(class='text-2xl mt-5') Cloud Migration and Management
  div(class='border-b my-3')
  p(class='leading-5')
    | Our team helps businesses transition to cloud-based solutions, ensuring smooth migration and effective ongoing
    | management of cloud services.