section(class='flex flex-col bg-secondary px-8 pt-10 pb-10 aspect-square rounded-xl')
  include ./components.svg
  h4(class='text-2xl mt-5') Custom Software Development
  div(class='border-b my-3')
  p(class='leading-5')
    | We specialize in crafting tailored software solutions to meet your unique business requirements, streamlining
    | processes, and improving efficiency.
