section(class='flex flex-col bg-secondary px-8 pt-10 pb-10 aspect-square rounded-xl w-80')
  include ./pencil-and-ruler.svg
  h4(class='text-2xl mt-5') Infrastructure and Network Design
  div(class='border-b my-3')
  p(class='leading-5')
    | We provide end-to-end network design services, ensuring seamless connectivity and optimized performance for your
    | organization&apos;s IT infrastructure.
