section(class='flex flex-col bg-secondary px-8 pt-10 pb-10 aspect-square rounded-xl w-80')
  include ./cogs.svg
  h4(class='text-2xl mt-5') IT Strategy and Digital Transformation
  div(class='border-b my-3')
  p(class='leading-5')
    | Our experts work closely with you to develop comprehensive IT strategies, driving digital transformation and
    | enhancing your organization's competitive edge.
