section(class='flex flex-col bg-secondary px-8 pt-10 pb-10 aspect-square rounded-xl')
  include ./livebuoy.svg
  h4(class='text-2xl mt-5') Technical Support and Maintenance
  div(class='border-b my-3')
  p(class='leading-5')
    | Our dedicated support team is available to address any technical issues and provide ongoing maintenance,
    | ensuring the smooth operation of your IT systems.
