section(id='about')
  div(class='flex flex-col md:flex-row h-90v')
    div(class='md:w-1/6')
    div(class='my-auto md:w-2/6')
      div(class='space-y-4 p-6 pt-8 md:w-3/4 md:p-0')
        h3(class='text-accent text-xs') ABOUT US
        h2(class='font-bold text-4xl md:text-5xl') Who we are
        p
          span(class='text-accent') Upa! 
          | is a close-knit group of friends who came together with a shared passion for technology and a desire to make a
          | difference.
        p
          | As a small startup, we pride ourselves on our agility, efficient work ethic, and our ability to build meaningful
          | connections with our clients. Our focus is on delivering exceptional customer experiences and tailored solutions,
          | without the bureaucracy of larger corporations.
    div(class='md:w-3/6')
      div(class="flex flex-row-reverse")
        img(class="h-45v md:h-100v -mt-8 " src="components/content/about-us/toroide.svg")
