section(class='h-80v my-5 text-left container md:flex')
  div(class='text-white text-sm mx-5')
    h3(class='text-accent py-2') About us
    h2(class='text-3xl py-2') Who we are
    p(class='py-2')
      span(class='text-accent') Upa! 
      | is a close-knit group of friends who came together with a shared passion for technology and a desire to make a
      | difference.
    p(class='py-2')
      | As a small startup, we pride ourselves on our agility, efficient work ethic, and our ability to build meaningful
      | connections with our clients. Our focus is on delivering exceptional customer experiences and tailored solutions,
      | without the bureaucracy of larger corporations.
  div(class="text-right  my-20")
    span(class='text-accent') BIG DONUT GOES HERE
