section(class='mr-0 h-80v mb-5 my-5 text-left flex flex-col md:m-0 md:h-60v md:flex-row')
  div(class='text-white text-sm mx-5 md:m-auto md:w-1/2 md:px-10')
    h3(class='text-accent py-2 text-xs') ABOUT US
    h2(class='py-2 text-3xl') Who we are
    p(class='py-2')
      span(class='text-accent') Upa! 
      | is a close-knit group of friends who came together with a shared passion for technology and a desire to make a
      | difference.
    p(class='py-2')
      | As a small startup, we pride ourselves on our agility, efficient work ethic, and our ability to build meaningful
      | connections with our clients. Our focus is on delivering exceptional customer experiences and tailored solutions,
      | without the bureaucracy of larger corporations.
  div(class="text-right flex flex-row-reverse md:my-auto md:w-1/2")
    img(class="h-45v md:h-70v" src="components/content/about-us/toroide.svg")