section(class='container flex')
  div
    h3 About us
    h2 Who we are
    p
      | Upa! is a close-knit group of friends who came together with a shared passion for technology and a desire to make a
      | difference.
    p
      | As a small startup, we pride ourselves on our agility, efficient work ethic, and our ability to build meaningful
      | connections with our clients. Our focus is on delivering exceptional customer experiences and tailored solutions,
      | without the bureaucracy of larger corporations.
  div
    span BIG DONUT
