section(id='about' class='h-80v flex')
  div(class='container flex flex-col place-content-between p-4 md:p-0 md:flex-row md:pl-52')
    div(class='space-y-4 my-auto md:w-80')
      h3(class='text-accent text-xs') ABOUT US
      h2(class='font-bold text-4xl md:text-5xl') Who we are
      p
        span(class='text-accent') Upa! 
        | is a close-knit group of friends who came together with a shared passion for technology and a desire to make a
        | difference.
      p
        | As a small startup, we pride ourselves on our agility, efficient work ethic, and our ability to build meaningful
        | connections with our clients. Our focus is on delivering exceptional customer experiences and tailored solutions,
        | without the bureaucracy of larger corporations.
    div(class="flex flex-row-reverse md:my-auto")
      img(class="h-45v md:h-90v" src="components/content/about-us/toroide.svg")
