section(id='contact' class='bg-secondary rounded-t-2xl h-110v pt-14 px-4 text-white')
  div
    h3(class='text-xs') CONTACT US
    h2(class='text-4xl text-bold py-4') Get in touch
    p(class='leading-5') Feel free to contact us any time. We will get back to you as soon as we can
  div(class='pt-20')
    span contactform
