section(id='contact')
  div(class='flex flex-col md:flex-row justify-center bg-secondary rounded-t-2xl h-110v md:h-60v')
    div(class='md:w-2/6 my-auto p-4 md:p-0 md:pr-20 space-y-4')
        h3(class='text-xs') CONTACT US
        h2(class='font-bold text-4xl md:text-5xl') Get in touch
        p(class='leading-5') Feel free to contact us any time. We will get back to you as soon as we can.
    div(class='md:w-2/6 my-auto md:my-auto')
      div(class='md:mx-auto')
        span contactform
