section(id='services')
  div(class='flex flex-col md:flex-row justify-center bg-background-secondary rounded-2xl h-75v md:h-110v')
    div(class='my-auto md:w-4/6')
      div(class='flex flex-col md:m-auto')
        div
          h3(class='text-accent text-xs') OUR SERVICES
          h2(class='font-bold text-4xl md:text-5xl') What we can do
        div(class='hidden md:block md:space-y-4')
          div(class='flex space-x-4 justify-around') 
            include our-services/service.pug
            include our-services/service.pug
            include our-services/service.pug
          div(class='flex space-x-4 justify-around') 
            include our-services/service.pug
            include our-services/service.pug
            include our-services/service.pug
