section(id='testimonial')
  div(class='flex flex-col md:flex-row my-20 h-75v md:h-60v')
    div(class='md:w-1/6')
    div(class='space-y-4 md:w-4/6 p-4 md:p-0')
      h3(class='text-xs text-accent') TESTIMONIALS
      h2(class='font-bold text-4xl md:text-5xl') What the people think about us
    div(class='md:w-1/6 overflow-clip')
      div(class="-z-30 md:-mr-12 md:my-auto ")
        include testimonials/logo-u.svg
