section(class='flex flex-col text-white my-10 h-75v md:h-60v')
  div(class='px-4')
    h3(class='text-xs text-accent') TESTIMONIALS
    h2(class='text-3xl font-bold mt-8') What the people think about us
  div(class='overflow-x-clip')
    div(class="flex -ml-20 my:auto md:-mr-20 relative w-100 md:flex-row-reverse md:my-auto")
      img(class="h-80v -z-30 md:h-60v" src="components/content/testimonials/logo-u.svg")
  //- img(class="h-80v -translate-x-20 -z-30 md:translate-x-1/4 md:h-60v" src="components/content/testimonials/logo-u.svg")