nav(class='nav-container hidden md:block')
  a(href='#', class='nav-item') Home
  a(href='#about', class='nav-item') About us
  a(href='#', class='nav-item') Services
  a(href='#', class='nav-item') Testimonial
  a(href='#', class='contact-btn') Contact US
