nav(class='nav-container nav-desktop hidden md:block')
  a(href='#', class='nav-item') Home
  a(href='#', class='nav-item') About us
  a(href='#', class='nav-item') Services
  a(href='#', class='nav-item') Testimonial
  a(href='#', class='contact-btn') Contact US
