div(class='nav-mobile hamburger-left fixed top-0.5 left-8 w-full z-50')
  button(id='hamburger', class='focus:outline-none')
    include svg/menu.svg

  div(id='mobile-menu', class='hidden mt-2 mobile-menu-bg')
    a(href='#', class='nav-item block') Home
    a(href='#', class='nav-item block') About us
    a(href='#', class='nav-item block') Services
    a(href='#', class='nav-item block') Testimonial
    a(href='#', class='contact-btn block') Contact US
