nav(class='mx-auto my-auto flex space-x-4 p-4 hidden md:block')
  a(href='#home') Home
  a(href='#about') About us
  a(href='#services') Services
  a(href='#testimonial') Testimonial
  a(href='#contact' class='bg-accent rounded py-2 px-4') Contact US
