//- div(class='hamburger fixed top-0.5 left-8 z-50 md:hidden')
div(class='hamburger md:hidden')
  button(id='hamburger', class='focus:outline-none')
    include svg/menu.svg

  div(id='mobile-menu', class='hidden mt-2 bg-background-primary p-4')
    a(href='#home', class='nav-item block') Home
    a(href='#about', class='nav-item block') About us
    a(href='#services', class='nav-item block') Services
    a(href='#testimonial', class='nav-item block') Testimonial
    a(href='#contact', class='contact-btn block') Contact US
