header(class='fixed flex w-full h-24 bg-gradient-to-b from-secondary/50 rounded-b-sm backdrop-blur-sm')
  include header/logo
  div(class='fixed flex')
    include header/nav-desktop
    include header/nav-mobile
