header(class='fixed flex md:justify-center w-full h-24 bg-gradient-to-b from-secondary/50 rounded-b-sm backdrop-blur-sm z-20')
  div(class='flex w-full md:w-4/6 md:flex-row-reverse')
    div(class='flex md:justify-center')
      include header/nav-desktop
      include header/nav-mobile
    include header/logo
