section(id='home' class='bg-hero bg-repeat-x h-screen font-hero text-center text-4xl flex md:h-hero')
  //- use h-screen if svg
  blockquote(class='m-auto md:ml-[20%] md:my-auto text-2xl md:text-5xl text-white text-left')
    span NOW WITH 200%
    br
    span MORE&nbsp;
      span(class='text-accent') JAVASCRIPT
