section(id='home' class='bg-hero bg-repeat-x h-screen font-hero text-center text-4xl flex md:h-hero')
  //- use h-screen if svg
  blockquote(class='ml-[20%] my-auto md:text-5xl text-white text-left')
    span NOW WITH 200%
    br
    span MORE&nbsp;
      span(class='text-accent') JAVASCRIPT
