section(class='bg-hero bg-repeat-x h-hero font-hero text-center text-4xl flex')
  //- use h-screen if svg
  blockquote(class='m-auto md:text-5xl text-white')
    span NOW WITH
    br
    span 200% MORE
    br  
    span(class='text-accent') JAVASCRIPT