section(class='bg-hero bg-repeat-x h-screen font-hero text-center text-4xl flex')
  blockquote(class='m-auto')
    span(class='text-white') NOW WITH
    br
    span(class='text-white') 200% MORE
    br  
    span(class='text-accent') JAVASCRIPT