@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Akira";
  src: url('../font/Akira Expanded Demo.otf');
}

@layer components {
  .service-icon {
    @apply fill-accent;
    height: 38px;
  }

  .contact-btn {
    @apply py-2 px-4 bg-accent text-white rounded;
  }
}