div(class='mt-8 my-auto mx-auto md:mt-0 text-xs text-gray md:w-1/2')
  div(class='md:mr-60 md:ml-auto md:w-1/4 md:text-left')
    div Talk to us
    div(class='text-accent text-bold my-3')
      a(href='mailto:hello@upa.dev') hello@upa.dev

    div Find us on
    span LINKEDIN LINK
