div(class='py-auto md:mt-0 text-xs md:w-1/2')
  div(class='md:text-left md:ml-60 md:w-1/4')
    span(class='text-gray') UPA! dev.
    ul(class='font-bold')
      li(class='py-1') Home
      li(class='py-1') About us
      li(class='py-1') Our services
      li(class='py-1') Testimonial
      li(class='py-1') Contact us
