div(class='py-auto md:mt-0 text-xs')
  div(class='text-center md:text-left md:ml-60')
    span(class='text-gray') UPA! dev.
    ul(class='font-bold space-y-3')
      li
        a(href='#') Home
      li 
        a(href='#about') About us
      li 
        a(href='#services') Our services
      li 
        a(href='#testimonial') Testimonial
      li 
        a(href='#contact') Contact us
