div(class='mt-16')
  div(class="text-gray py-1") UPA! dev.
  ul
    li(class='py-0.5') Home
    li(class='py-0.5') About us
    li(class='py-0.5') Our services
    li(class='py-0.5') Testimonial
    li(class='py-0.5') Contact us
