doctype html
include components/head
body(class='bg-background-primary ')
  div(class='container bg-hero bg-repeat-x')
    include components/header
    include components/content
    include components/footer
