doctype html
include components/head
body(class='bg-background-primary')
  include components/header
  include components/hero
  include components/content
  include components/footer
  script(src='js/main.js')
